/* selector class */
.bg-merah {
    background-color: red;
}

/* selector id */
#bg-kuning {
    background-color: yellow;
}

.bg-kuning {
    background-color: yellow;
}

.bg-biru {
    background-color: aqua;
}

.bg {
    background-image: url('photo-167.jpeg');
    background-repeat: no-repeat;
    background-size: 1500px;
    background-position: center top;
}

.font {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-variant: small-caps;
    font-weight: lighter;
    font-size: 100px;
}

.text {
    text-align: justify;
    line-height: 30px;
    text-transform: capitalize;
    text-indent: 70px;
}

.decoration {
    /* text-decoration: line-through red; */
    text-shadow: 3px 3px red;
    word-spacing: 50px;
    letter-spacing: 30px;
}

.kotak {
    width: 100px;
    height: 100px;
}

.posisi{
    position: absolute;
    left: 60px;
}

.fix{
    width: 720px;
    height: 200px;
    position: fixed;
    left: 300px;
    top: 50px;
}

.space{
    margin-top: 30px;
    padding-top: 30px;
}